<div style="height: 20px;" ng-if="options.editable">
  <span style="font-size: 16px" class="pull-right">
    <a href="" ng-if="editMode" title="add new widget" ng-click="addWidgetDialog()">
      <i class="dashboard-glyphicon glyphicon glyphicon-list-alt"></i>
    </a>
    <a href="" ng-if="editMode" title="edit dashboard" ng-click="editDashboardDialog()">
      <i class="dashboard-glyphicon glyphicon glyphicon-cog"></i>
    </a>
    <a href="" ng-if="options.editable" title="{{editMode ? 'save changes' : 'enable edit mode'}}" ng-click="toggleEditMode()">
      <i class="dashboard-glyphicon glyphicon" x-ng-class="{'glyphicon-edit' : !editMode, 'glyphicon-save' : editMode}"></i>
    </a>
    <a href="" ng-if="editMode" title="undo changes" ng-click="cancelEditMode()">
      <i class="dashboard-glyphicon glyphicon glyphicon-repeat adf-flip"></i>
    </a>
  </span>
</div>
